<h1>Add new Ticket</h1>

<!-- <div> 
    <ul class="tickets">
    <li *ngFor="let ticket of tickets">
        <a routerLink="/ticketdetail/{{ticket.id}}">
        <span class="badge">{{ticket.id}}</span> {{ticket.name}} {{ticket.price}} HUF {{ticket.seller}}
        </a>
        <button class="delete" title="delete ticket"
        (click)="delete(ticket)">x</button>
    </li>
    </ul>
</div> -->

<div>
    <label>Ticket name:
      <input #ticketName />
    </label>
    <label>Price:
      <input #ticketPrice />
    </label>
    <label>User Id:
      <input #userId />
    </label>
    <label>Event Id:
      <input #eventId />
    </label>
    <p></p>
    
    <button (click)="add(ticketName.value,ticketPrice.value,userId.value, eventId.value ); ticketName.value=''">
      add
    </button>
</div>
<app-event-search></app-event-search>
